<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_olxj">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJTaskGroupListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJTempTaskListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJTaskListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJGroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJWorkListUnHandledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJWorkListHandledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJStatisticsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.supcon.mes.module_olxj.ui.OLXJWorkListEamUnHandledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

    </application>


</manifest>