<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_contact">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.ContactViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="com.supcon.mes.module_contact.ui.ContactSearchWithHeaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".ui.ContactDepartTreeSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.ContactPositionTreeSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".ui.ContactSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--<activity-->
            <!--android:name=".ui.DepartmentSelectActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppNoTitleBarTheme"-->
            <!--android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />-->
    </application>

</manifest>