<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_xj">
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity
            android:name=".ui.XJPathListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.action.TECH_DISCOVERED"/>-->

            <!--</intent-filter>-->
            <!--<meta-data android:name="android.nfc.action.TECH_DISCOVERED"-->
                <!--android:resource="@xml/filter_nfc" />-->
            <!--<intent-filter>-->
                <!--<action android:name = "android.nfc.action.NDEF_DISCOVERED" />-->
                <!--<data android:mimeType = "text/plain" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.action.TAG_DISCOVERED"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.XJWorkItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.HSXJWorkItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.XJWorkItemUnHandledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.XJWorkItemHandledActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

    </application>


</manifest>