<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.supcon.mes.hongShiCementEam"
    android:sharedUserId="${APP_SHARE_ID}">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name="com.supcon.mes.push.PushApplication"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:roundIcon="${APP_ROUND_ICON}"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:theme,android:allowBackup, android:label"
        android:allowBackup="true">
        <meta-data
            android:name="APP_SHARE_ID"
            android:value="${APP_SHARE_ID}"/>
        <meta-data
            android:name="APP_NAME"
            android:value="${APP_NAME}"/>
        <meta-data
            android:name="APP_ICON"
            android:value="${APP_ICON}"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}" />
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>


    </application>

</manifest>