<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_login">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBottomInTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBottomInTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.WorkSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBottomInTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.ImageViewActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Transparent2"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <service android:name=".service.HeartBeatService" />
        <service android:name=".service.PushService" />

        <receiver
            android:name=".alone.LoginValidEventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="AloneAppLoginValid" />
            </intent-filter>

        </receiver>
    </application>
</manifest>
